$primfont : 'Roboto', sans-serif;
$secfont : 'Roboto Condensed', sans-serif;

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 


/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  margin: 0 0 2%; 
  background-color: #b3a369;
  color: white;
  font-family:$primfont;
  font-weight:300px;
}

.modal-body {
    padding: 2px 2%;
    height:200px;
    background-color: #fff;
  
  }

.drop-area{
    width: 100%;
    height:100%;
    background-color:#ccc;
    border: solid 1px #b3a369;
    border-radius: 15px;;
    margin: 4px 0 4%;;
    text-align:center;
 p{
  padding-top: 5%;
  color:#ddd;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
}

.modal-footer {
  
  padding: 2px 16px;
  background-color: #b3a369;
  color: white;
  clear:both;
}

.fileInput{
  display:none;
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


label {
  border: 2px solid #b3a369;
  border-radius: 8px;
  padding:8%;
  font-family:$primfont;
 
  color:#b3a369;
  float:left;
  margin-bottom:5%;
  cursor: pointer; /* "hand" cursor */
  &:hover{
    color: #fff;
    background-color: #b3a369;
  }
}


.fileInput + label * {
	pointer-events: none;
}

.filename{
  margin-left:15px;
  height:40px;
  width:60%;
  border-radius:8px;
  display:inline-block;
}

.inline{
  display:inline-block;
  width:150px;
  margin: 0 13%;
  input{
    position: absolute;
  }
  
}


.infobtn{
  float:right;
  width:35px;
  background-color: transparent;
  border: none;
  margin-bottom: 5px;
  
  }

  .or{
    text-align:center;
    font-family:$primfont;
    font-size: 25px;
    color:#888
  }

}




#myP{
  visibility: hidden;
  background-color: #b3a369;
  float:right;
  padding: 1%;
  font-family:$primfont;
  font-size: 13px;
  .bold{
    font-weight:700;
    text-decoration: underline;
  }
}



.drop-area{
  width: 100%;
  height:500px;
  background-color:#ccc;
  border: solid 1px #b3a369;
  border-radius: 15px;;
  margin: 4px 0 4%;;
  text-align:center;
}
// /* The Modal (background) */
// .info {
//   display: none; /* Hidden by default */
//   position: fixed; /* Stay in place */
//   z-index: 2; /* Sit on top */
//   padding-top: 100px; /* Location of the box */
//   left: 0;
//   top: 0;
//   width: 100%; /* Full width */
//   height: 100%; /* Full height */
//   overflow: auto; /* Enable scroll if needed */
//   background-color: rgb(0,0,0); /* Fallback color */
//   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 


// /* Modal Content */
// .info-content {
//   position: relative;
//   background-color: #fefefe;
//   margin: auto;
//   padding: 0;
//   border: 1px solid #888;
//   width: 50%;
//   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
//   -webkit-animation-name: animatetop;
//   -webkit-animation-duration: 0.4s;
//   animation-name: animatetop;
//   animation-duration: 0.4s
// }

// /* Add Animation */
// @-webkit-keyframes animatetop {
//   from {top:-300px; opacity:0} 
//   to {top:0; opacity:1}
// }

// @keyframes animatetop {
//   from {top:-300px; opacity:0}
//   to {top:0; opacity:1}
// }

// /* The Close Button */
// .close2 {
//   color: white;
//   float: right;
//   font-size: 28px;
//   font-weight: bold;
// }

// .close2:hover,
// .close2:focus {
//   color: #000;
//   text-decoration: none;
//   cursor: pointer;
// }

// .info-header {
//   padding: 2px 16px;
//   margin: 0 0 2%; 
//   background-color: #b3a369;
//   color: white;
// }

// .info-body {
//     padding: 2px 2%;
//     height:300px;
  
//   }


// .info-footer {
//   margin: 10% 0 0;
//   padding: 2px 16px;
//   background-color: #b3a369;
//   color: white;
//   clear:both;
// }
// }

